.shorten {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    margin-top: -9rem;
}

.shorten-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5vw;
    background: url(/images/bg-shorten-mobile.svg) no-repeat top right;
    background-color: $DarkViolet;
    background-size: 75%;
    border-radius: 8px;
    width: 90%;
}

.shorten input {
    font-family: 'Poppins',sans-serif;
}

#input-text {
    border: none;
    color:$Gray;
    font-size: .9rem;
    padding:.75rem .8rem;
    width:90%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#input-submit {
    margin-top: 1rem;
    background-color: $Cyan;
    color:white;
    border: 0;
    padding: .5rem;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


@media (min-width:768px) {
    
    .shorten-card {
        display: block;
        padding: 0rem;
        max-width: 60rem;
    }

    .shorten-input {
        display: flex;
        align-items: center;
        width: 93%; 
        padding: 2rem;
    }
    
    #input-submit {
        margin: 0;
        width: 25%;
        margin-left: 1rem;
        padding: .8rem 1rem;
    }

    #input-text {
        padding: 1rem 1.5rem;        
    }

}
